.container {
  padding: 5px 0;
}

.card-container {
  padding: 0px 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #007bff4d;
}

.img-container {
  padding: 15px 30px;
}

.text-container {
  padding: 15px 40px;
}

.title {
  text-transform: capitalize;
  font-weight: 600;
}

.img-fake {
  width: 150px;
  height: 150px;
  background-color: white;
}

h1 {
  font-size: large;
}
