body {
  margin: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-header {
  position: sticky;
  top: 50px;
  height: 100px;
  background-color: white;
  z-index: 1;
  padding: 15px 0 20px 0;
  align-content: center;
}

.spinner-row {
  justify-content: center;
  margin-top: 100px;
}
